<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sa3id"
        tools:targetApi="31">
        <activity
            android:name=".UserActivities.EasterEggActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivities.GoogleSignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserActivities.MaterialsChooseActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivities.UserSettings"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivities.Announcements"
            android:exported="true" />
        <activity
            android:name=".UserActivities.OurBooks"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.ControlPanel"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.ContactUsRespond"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.MaterialsCheck"
            android:exported="false" />
        <activity
            android:name=".UserActivities.SignUp"
            android:exported="false" />
        <activity
            android:name=".UserActivities.SignIn"
            android:exported="false" />
        <activity
            android:name=".UserActivities.Calender"
            android:exported="false" />
        <activity
            android:name=".UserActivities.ProfileEdit"
            android:exported="false" />
        <activity
            android:name=".UserActivities.Donate"
            android:exported="false" />
        <activity
            android:name=".UserActivities.UploadMaterials"
            android:exported="false" />
        <activity
            android:name=".UserActivities.MaterialsPage"
            android:exported="false" />
        <activity
            android:name=".UserActivities.ContactUs"
            android:exported="false" />
        <activity
            android:name=".UserActivities.ExamsBank"
            android:exported="false" />
        <activity
            android:name=".UserActivities.WhatsappGroups"
            android:exported="false" />
        <activity
            android:name=".UserActivities.AboutPage"
            android:exported="false" />
        <activity
            android:name=".UserActivities.GradesCalculator"
            android:exported="false" />
        <activity
            android:name=".UserActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAf7v6I6adg6i5Twf74ORIKjAw8pGsL__0" />
    </application>

</manifest>