<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sa3id"
        tools:targetApi="31">

        <activity
            android:name=".userActivities.ChooseBagrutsActivity"
            android:exported="true" />
        <activity
            android:name=".userActivities.AnnouncementViewActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.EasterEggActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.GoogleSignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".userActivities.MaterialsChooseActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivities.MakeAnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.UserSettings"
            android:exported="false" />
        <activity
            android:name=".userActivities.ExamsActivity"
            android:exported="true" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.Announcements"
            android:exported="true" />
        <activity
            android:name=".userActivities.OurBooks"
            android:exported="false" />
        <activity
            android:name=".adminActivities.ControlPanel"
            android:exported="false" />
        <activity
            android:name=".adminActivities.FeedbackRespondActivity"
            android:exported="true" />
        <activity
            android:name=".adminActivities.MaterialsCheckActivity"
            android:exported="true" />
        <activity
            android:name=".userActivities.SignUp"
            android:exported="false" />
        <activity
            android:name=".userActivities.SignIn"
            android:exported="false" />
        <activity
            android:name=".userActivities.ExamsCalendar"
            android:exported="false" />
        <activity
            android:name=".userActivities.AdminCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".userActivities.ProfileEdit"
            android:exported="false" />
        <activity
            android:name=".userActivities.Donate"
            android:exported="false" />
        <activity
            android:name=".userActivities.UploadMaterials"
            android:exported="true" />
        <activity
            android:name=".userActivities.MaterialsPage"
            android:exported="false" />
        <activity
            android:name=".userActivities.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".userActivities.WhatsappGroups"
            android:exported="false" />
        <activity
            android:name=".userActivities.AboutPage"
            android:exported="false" />
        <activity
            android:name=".userActivities.GradesCalculator"
            android:exported="false" />
        <activity
            android:name=".userActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <receiver android:name=".receivers.ExamNotificationReceiver" />

    </application>

</manifest>